.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom:30px;
  display:inline;
}
/*
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 1100px;
     display: inline-block; 
  }
}
*/
.col-lg-12{
	 display: inline-block; 
}

.col-lg-8{
	display:inline;	
}

.col-lg-6{
	padding-top:2px;
 	padding-bottom:2px;
 	margin-top:2px;
 	margin-bottom:2px;
}

.addLoad{
	border-width: 1px 0px 0px 0px;
	border-radius:0px;
	border-style: solid;
	border-color: #BAC8C7;
	padding-top:10px;
	margin-top:10px;
}

.mapping{
	padding-top:10px;
	margin-bottom: 10px;
	text-align: center;
}

.submitMapping{
	margin-bottom: 10px;
	margin-top:10px;
}

.reconcile{
	margin-bottom: 10px;
	margin-top:10px;
}

body {
    margin-left: 10px;
    background-color:#E9E9E9;
}

#divBody{
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:white;
	border-radius: 10px;
	display:inline-block;
}

.bloc{
	padding-bottom:15px;
	margin-bottom:5px;
	border-bottom-style:solid;
	border-bottom:3px solid;
	/*border-radius:5px;*/
	border-bottom-color:#FE4365;
	/*display: inline-block;*/ 
}

.title{
	font-family: "Fenix", serif;
	font-size:30px;
	text-align:center;
	background-color:#A9DB66;
	padding-bottom:30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:30px;
	border-radius: 10px;
	border-color:#A9DB66;
}

.row{
	padding-bottom:5px;
	padding-top:5px;
	/*background-color:#F0F4F6;*/
	padding-left:0px;
	margin-left:0px;
	display:inline-block;
}

#rasterTable{
	background-color:white;
	text-align:center;
}
.tableMapping{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

td {
	padding:5px;
	text-align:left;
}

.foot{
	background-color:white;
	border-radius:10px;
	text-align: center;
}
#formulaire{
	background-color:white;
	border-radius:10px;
	padding-right:15px;
  	padding-left:15px;
  	display: inline-block;
}