<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>HomePage.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controler</servlet-name>
		<servlet-class>src.servlets.Controler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controler</servlet-name>
		<url-pattern>/controler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Initialise</servlet-name>
		<servlet-class>src.beans.Initialise</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Initialise</servlet-name>
		<url-pattern>/initialise</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Finalisation</servlet-name>
		<servlet-class>src.beans.Finalisation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Finalisation</servlet-name>
		<url-pattern>/finalisation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>src.servlets.Download</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>workspace/WebWorkflowCleanData/temp/</param-value>
		</init-param>
		<multipart-config>
			<!--<location>/home/mhachet/workspace/WebWorkflowCleanData/temp/</location>
			<max-file-size>2097152</max-file-size>  2 Mo -->
			<!--<max-request-size>10485760</max-request-size>  5 x 2Mo -->
			<!--<file-size-threshold>1048576</file-size-threshold>  1 Mo -->
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/temp/*</url-pattern>
	</servlet-mapping>
</web-app>