<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>HomePage.html</welcome-file>
		<welcome-file>finalWorkflow.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>MainControler</servlet-name>
		<servlet-class>src.servlets.MainControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainControler</servlet-name>
		<url-pattern>/mainControler</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UploadControler</servlet-name>
		<servlet-class>src.servlets.UploadControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadControler</servlet-name>
		<url-pattern>/uploadControler</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReconcileControler</servlet-name>
		<servlet-class>src.servlets.ReconcileControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReconcileControler</servlet-name>
		<url-pattern>/reconcileControler</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Initialise</servlet-name>
		<servlet-class>src.beans.Initialise</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Initialise</servlet-name>
		<url-pattern>/initialise</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Finalisation</servlet-name>
		<servlet-class>src.beans.Finalisation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Finalisation</servlet-name>
		<url-pattern>/finalisation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>src.servlets.Download</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/home/mhachet/workspace/WebWorkflowCleanData/WebContent/output/temp/</param-value>
			<!--<param-value>/var/lib/tomcat7/WebWorkflowCleanData/output/</param-value>-->
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/temp/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step1_MappingDwc</servlet-name>
		<servlet-class>src.beans.Step1_MappingDwc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step1_MappingDwc</servlet-name>
		<url-pattern>/step1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step2_ReconciliationService</servlet-name>
		<servlet-class>src.beans.Step2_ReconciliationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step2_ReconciliationService</servlet-name>
		<url-pattern>/step2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step3_CheckCoordinates</servlet-name>
		<servlet-class>src.beans.Step3_CheckCoordinates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step3_CheckCoordinates</servlet-name>
		<url-pattern>/step3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step4_CheckGeoIssue</servlet-name>
		<servlet-class>src.beans.Step4_CheckGeoIssue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step4_CheckGeoIssue</servlet-name>
		<url-pattern>/step4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step5_IncludeSynonym</servlet-name>
		<servlet-class>src.beans.Step5_IncludeSynonym</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step5_IncludeSynonym</servlet-name>
		<url-pattern>/step5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step6_CheckTDWG</servlet-name>
		<servlet-class>src.beans.Step6_CheckTDWG</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step6_CheckTDWG</servlet-name>
		<url-pattern>/step6</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step7_CheckISo2Coordinates</servlet-name>
		<servlet-class>src.beans.Step7_CheckISo2Coordinates</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step7_CheckISo2Coordinates</servlet-name>
		<url-pattern>/step7</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step8_CheckCoordinatesRaster</servlet-name>
		<servlet-class>src.beans.Step8_CheckCoordinatesRaster</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step8_CheckCoordinatesRaster</servlet-name>
		<url-pattern>/step8</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Step9_EstablishmentMeans</servlet-name>
		<servlet-class>src.beans.Step9_EstablishmentMeans</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Step9_EstablishmentMeans</servlet-name>
		<url-pattern>/step9</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExampleWebTestCase</servlet-name>
		<servlet-class>src.test.ExampleWebTestCase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExampleWebTestCase</servlet-name>
		<url-pattern>/testCase</url-pattern>
	</servlet-mapping>
</web-app>