<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <welcome-file-list>
        <welcome-file>HomePage.html</welcome-file>
        <welcome-file>finalWorkflow.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>fr.bird.bloom.servlets.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>fr.bird.bloom.servlets.UploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/uploadController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReconcileController</servlet-name>
        <servlet-class>fr.bird.bloom.servlets.ReconcileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReconcileController</servlet-name>
        <url-pattern>/reconcileController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>fr.bird.bloom.servlets.Download</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>/home/mhachet/workspace/WebWorkflowCleanData/WebContent/output/temp/</param-value>
            <!--<param-value>/var/lib/tomcat7/WebWorkflowCleanData/output/</param-value>-->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/temp/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>